
body{
	background-image: url("../images/844946240_preview_3288949bd5d35b3bcfa9de0b65faade54bbd701c.jpg");
	background-size:100%;
	font-family: 'Press Start 2P', cursive;
	color:white;
}
p{
	font-size:10px;
}
#instruction-heading-text{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#instruction-heading:hover{
	cursor:pointer;
	opacity: 0.5;
}
#instruction-div{
	display:none;
}
.level-text{
	text-align: center;
}
.level-image{
	width:800px;
	height:70px;
}
.level-image:hover{
	cursor:pointer;
}
.level-div{
	height:500px;
	overflow:scroll;
	overflow-x: hidden;
}
.level-div::-webkit-scrollbar {
    width: 3px;
}
 
.level-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.level-div::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}
#enemy{
	position:absolute;
	bottom:230px;
	left:280px;
	width:200px;
}
#level{
	filter: brightness(50%);
}
#hangman-text{
	text-align:center;
	letter-spacing:10px;
	font-weight:bold;
}
.rune-button{
	float:left;
	margin:10px;
}
#hp-text{
	font-size:14px;
	color:green;
}
#congrats{
	text-align:center;
	font-size:14px;
	color:#2e6da4;
	display:none;

}
#lose{
	text-align:center;
	font-size:14px;
	color:#ED4337;
	display:none;
}
#enemy-hp{
	color:#ED4337;
}
#win-count{
	font-size:14px;
}
.panel-body{
	background-color: #525253;
}
.panel{
	border:none;
}
.panel-heading{
	background-color:#3C3C3D !important;
	border:none;
	color:white !important;
}
.img-thumbnail{
	border-color:black !important;
	background-color:#29292A;
}
#hats{
	text-align:center;
	margin-right:10px;
}
#hat-image{
	width:20px;
	position:relative;
	top:15px;
}


.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 13px; padding: 0; line-height: 13px;
    border: 2px solid #FFFFFF; border-radius: 13px;
    background-color: #9E9E9E;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 13px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #FFFFFF; border-radius: 13px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
